In [ ]:
## to download files for east africa

gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/10d_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/113_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/141_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/143_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/15d_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/161_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/163_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/165_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/167_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/169_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/16b_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/16d_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/16f_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/171_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/173_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/175_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/177_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/179_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/17b_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/17d_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/17f_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/181_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/183_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/185_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/189_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/18f_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/191_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/199_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/19b_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/19d_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/19f_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/3d5_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/3d7_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/3d9_buildings.csv.gz .
gsutil cp -R gs://open-buildings-data/v2/points_s2_level_4_gzip/3db_buildings.csv.gz .

In [15]:
import pandas as pd
import geopandas as gp

grid_db=gp.read_file('/home/data_folder/osm_data/ea_5x5_grid.shp')

bdb=pd.read_csv('/home/data_folder/points_s2_level_4_gzip/3d5_buildings.csv.gz')

gbdb = gp.GeoDataFrame(bdb, geometry=gp.points_from_xy(bdb.longitude, bdb.latitude))

db = gbdb.sjoin(grid_db, how="left")

In [18]:
db

,latitude,longitude,area_in_meters,confidence,full_plus_code,geometry,index_right,sno,dem_name
0,2.594276,45.374220,12.9729,0.7560,6HJ7H9VF+PM92,POINT (45.37422 2.59428),4,6,n00e045_dem
1,2.016380,45.264297,56.9999,0.7819,6HJ72787+HP37,POINT (45.26430 2.01638),4,6,n00e045_dem
2,2.104140,45.364583,25.8912,0.6304,6HJ74937+MR4G,POINT (45.36458 2.10414),4,6,n00e045_dem
3,2.048299,45.364611,73.5123,0.6091,6HJ729X7+8R9W,POINT (45.36461 2.04830),4,6,n00e045_dem
4,2.023368,45.311238,49.2868,0.6763,6HJ728F6+8FXP,POINT (45.31124 2.02337),4,6,n00e045_dem
...,...,...,...,...,...,...,...,...,...
928093,2.009822,45.272287,3.5485,0.6901,6HJ7275C+WWFR,POINT (45.27229 2.00982),4,6,n00e045_dem
928094,2.140334,45.117049,129.7858,0.6494,6HJ744R8+4RM8,POINT (45.11705 2.14033),4,6,n00e045_dem
928095,2.727209,46.050974,17.8907,0.6802,6HJ8P3G2+V9Q6,POINT (46.05097 2.72721),4,6,n00e045_dem
928096,2.102565,45.208381,223.8580,0.8493,6HJ74635+29CC,POINT (45.20838 2.10256),4,6,n00e045_dem
928097,2.048168,45.284429,3.6773,0.7381,6HJ727XM+7Q7P,POINT (45.28443 2.04817),4,6,n00e045_dem

In [ ]:
import glob
import geopandas as gp
import pandas as pd
import ntpath
import gc
import dask_geopandas

import dask.dataframe as dd

gzfiles=glob.glob('/home/data_folder/points_s2_level_4_gzip/*.csv.gz')

grid_db=gp.read_file('/home/data_folder/osm_data/ea_5x5_grid.shp')

# for gzfl in gzfiles:
#     print(gzfl)
#     bdb=pd.read_csv(gzfl)
#     gbdb = gp.GeoDataFrame(bdb, geometry=gp.points_from_xy(bdb.longitude, bdb.latitude))
#     dgdf = dask_geopandas.from_geopandas(gbdb, npartitions=4)
#     db = dgdf.sjoin(grid_db, how="left")
#     db.drop(columns=['geometry', 'index_right','sno'], inplace=True)
#     db.fillna('out_of_ea', inplace=True)
#     dem_db=db.drop_duplicates('dem_name')
#     dem_name_list=dem_db['dem_name'].tolist()
#     dem_name_list=[i for i in dem_name_list if not i in 'out_of_ea']
#     outputname=ntpath.basename(gzfl).split('.')[0]
#     del [[bdb,gbdb,dem_db]]
#     gc.collect()
#     bdb=pd.DataFrame()
#     gbdb=pd.DataFrame()
#     dem_db=pd.DataFrame()
#     for dem_name in dem_name_list:
#         db1=db[db['dem_name']==dem_name]
#         db1.to_csv(f'/home/data_folder/points_s2_level_4_gzip/ea_grid_filter/{dem_name}_{outputname}.csv.gz', compression='gzip')
#         del [[db1]]
#         gc.collect()
#         db1=pd.DataFrame()


# for gzfl in gzfiles:
#     print(gzfl)
#     #bdb=pd.read_csv(gzfl)
#     do_dask_compute0 = dd.read_csv(gzfl, compression='gzip')
#     bdb=do_dask_compute0.compute()
#     gbdb = gp.GeoDataFrame(bdb, geometry=gp.points_from_xy(bdb.longitude, bdb.latitude))
#     dgdf = dask_geopandas.from_geopandas(gbdb, npartitions=4)
#     do_dask_compute = dgdf.sjoin(grid_db, how="inner")
#     db = do_dask_compute.compute()
#     print(db.info())
#     if db.empty:
#         pass
#     else:
#         db.drop(columns=['geometry', 'index_right','sno'], inplace=True)
#         dem_db=db.drop_duplicates('dem_name')
#         print(dem_db)
#         dem_name_list=dem_db['dem_name'].tolist()
#         outputname=ntpath.basename(gzfl).split('.')[0]
#         del [[bdb,gbdb,dem_db]]
#         gc.collect()
#         bdb=pd.DataFrame()
#         gbdb=pd.DataFrame()
#         dem_db=pd.DataFrame()
#         print('###########')
#         for dem_name in dem_name_list:
#             print(dem_name)
#             print(db.info())
#             db1=db[db['dem_name']==dem_name]
#             db1.to_csv(f'/home/data_folder/points_s2_level_4_gzip/ea_grid_filter/{dem_name}_{outputname}.csv.gz', compression='gzip')
#     del [[db1,db]]
#     gc.collect()
#     db1=pd.DataFrame()
#     db=pd.DataFrame()


for gzfl in gzfiles:
    print(gzfl)
    #bdb=pd.read_csv(gzfl)
    do_dask_compute0 = dd.read_csv(gzfl, compression='gzip')
    bdb=do_dask_compute0.compute()
    gbdb = gp.GeoDataFrame(bdb, geometry=gp.points_from_xy(bdb.longitude, bdb.latitude))
    dgdf = dask_geopandas.from_geopandas(gbdb, npartitions=4)
    do_dask_compute = dgdf.sjoin(grid_db, how="inner")
    db = do_dask_compute.compute()
    print(db.info())
    if db.empty:
        pass
    else:
        db.drop(columns=['geometry', 'index_right','sno'], inplace=True)
        dem_db=db.drop_duplicates('dem_name')
        print(dem_db)
        dem_name_list=dem_db['dem_name'].tolist()
        outputname=ntpath.basename(gzfl).split('.')[0]
        del [[bdb,gbdb,dem_db]]
        gc.collect()
        bdb=pd.DataFrame()
        gbdb=pd.DataFrame()
        dem_db=pd.DataFrame()
        print('###########')
        for dem_name in dem_name_list:
            print(dem_name)
            print(db.info())
            db1=db[db['dem_name']==dem_name]
            db1.to_csv(f'/home/data_folder/points_s2_level_4_gzip/ea_grid_filter/{dem_name}_{outputname}.csv.gz', compression='gzip')
    del [[db1,db]]
    gc.collect()
    db1=pd.DataFrame()
    db=pd.DataFrame()

/home/data_folder/points_s2_level_4_gzip/10d_buildings.csv.gz
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 244044 entries, 0 to 641174
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        244044 non-null  float64
 1   longitude       244044 non-null  float64
 2   area_in_meters  244044 non-null  float64
 3   confidence      244044 non-null  float64
 4   full_plus_code  244044 non-null  object
 5   geometry        244044 non-null  geometry
 6   index_right     244044 non-null  int64
 7   sno             244044 non-null  int64
 8   dem_name        244044 non-null  object
dtypes: float64(4), geometry(1), int64(2), object(2)
memory usage: 18.6+ MB
None
   latitude  longitude  area_in_meters  confidence full_plus_code     dem_name
0  5.826111  20.728984         10.8597      0.6836  6GQ2RPGH+CHXF  n05e020_dem
###########
n05e020_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 244044 entries, 0 to 641174
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        244044 non-null  float64
 1   longitude       244044 non-null  float64
 2   area_in_meters  244044 non-null  float64
 3   confidence      244044 non-null  float64
 4   full_plus_code  244044 non-null  object
 5   dem_name        244044 non-null  object
dtypes: float64(4), object(2)
memory usage: 13.0+ MB
None
/home/data_folder/points_s2_level_4_gzip/113_buildings.csv.gz
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 7999 entries, 0 to 7869
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        7999 non-null   float64
 1   longitude       7999 non-null   float64
 2   area_in_meters  7999 non-null   float64
 3   confidence      7999 non-null   float64
 4   full_plus_code  7999 non-null   object
 5   geometry        7999 non-null   geometry
 6   index_right     7999 non-null   int64
 7   sno             7999 non-null   int64
 8   dem_name        7999 non-null   object
dtypes: float64(4), geometry(1), int64(2), object(2)
memory usage: 624.9+ KB
None
    latitude  longitude  area_in_meters  confidence full_plus_code  \
0   9.953886  21.399884         13.1920      0.6345  6GX3X93X+HX2F
1  10.812957  22.609682          8.4592      0.6116  7G24RJ75+5VM9

      dem_name
0  n05e020_dem
1  n10e020_dem
###########
n05e020_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 7999 entries, 0 to 7869
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        7999 non-null   float64
 1   longitude       7999 non-null   float64
 2   area_in_meters  7999 non-null   float64
 3   confidence      7999 non-null   float64
 4   full_plus_code  7999 non-null   object
 5   dem_name        7999 non-null   object
dtypes: float64(4), object(2)
memory usage: 437.4+ KB
None
n10e020_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 7999 entries, 0 to 7869
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        7999 non-null   float64
 1   longitude       7999 non-null   float64
 2   area_in_meters  7999 non-null   float64
 3   confidence      7999 non-null   float64
 4   full_plus_code  7999 non-null   object
 5   dem_name        7999 non-null   object
dtypes: float64(4), object(2)
memory usage: 437.4+ KB
None
/home/data_folder/points_s2_level_4_gzip/141_buildings.csv.gz
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 4810 entries, 0 to 5160
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        4810 non-null   float64
 1   longitude       4810 non-null   float64
 2   area_in_meters  4810 non-null   float64
 3   confidence      4810 non-null   float64
 4   full_plus_code  4810 non-null   object
 5   geometry        4810 non-null   geometry
 6   index_right     4810 non-null   int64
 7   sno             4810 non-null   int64
 8   dem_name        4810 non-null   object
dtypes: float64(4), geometry(1), int64(2), object(2)
memory usage: 375.8+ KB
None
    latitude  longitude  area_in_meters  confidence full_plus_code  \
0  22.243941  28.322832          9.4077      0.6431  7GJC68VF+H4GP

      dem_name
0  n20e025_dem
###########
n20e025_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 4810 entries, 0 to 5160
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        4810 non-null   float64
 1   longitude       4810 non-null   float64
 2   area_in_meters  4810 non-null   float64
 3   confidence      4810 non-null   float64
 4   full_plus_code  4810 non-null   object
 5   dem_name        4810 non-null   object
dtypes: float64(4), object(2)
memory usage: 263.0+ KB
None
/home/data_folder/points_s2_level_4_gzip/143_buildings.csv.gz
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 611901 entries, 2 to 578405
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        611901 non-null  float64
 1   longitude       611901 non-null  float64
 2   area_in_meters  611901 non-null  float64
 3   confidence      611901 non-null  float64
 4   full_plus_code  611901 non-null  object
 5   geometry        611901 non-null  geometry
 6   index_right     611901 non-null  int64
 7   sno             611901 non-null  int64
 8   dem_name        611901 non-null  object
dtypes: float64(4), geometry(1), int64(2), object(2)
memory usage: 46.7+ MB
None
        latitude  longitude  area_in_meters  confidence full_plus_code  \
2      24.480122  32.939920         86.2527      0.7429  7GPJFWJQ+2XVV
11     19.344623  32.799960         46.4484      0.7982  7GFJ8QVX+RXWW
204    22.315234  28.763427         40.8411      0.7634  7GJC8Q87+39V8
45053  19.973851  29.607953         18.5283      0.6562  7GFFXJF5+G5W3

          dem_name
2      n20e030_dem
11     n15e030_dem
204    n20e025_dem
45053  n15e025_dem
###########
n20e030_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 611901 entries, 2 to 578405
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        611901 non-null  float64
 1   longitude       611901 non-null  float64
 2   area_in_meters  611901 non-null  float64
 3   confidence      611901 non-null  float64
 4   full_plus_code  611901 non-null  object
 5   dem_name        611901 non-null  object
dtypes: float64(4), object(2)
memory usage: 32.7+ MB
None
n15e030_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 611901 entries, 2 to 578405
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        611901 non-null  float64
 1   longitude       611901 non-null  float64
 2   area_in_meters  611901 non-null  float64
 3   confidence      611901 non-null  float64
 4   full_plus_code  611901 non-null  object
 5   dem_name        611901 non-null  object
dtypes: float64(4), object(2)
memory usage: 32.7+ MB
None
n20e025_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 611901 entries, 2 to 578405
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        611901 non-null  float64
 1   longitude       611901 non-null  float64
 2   area_in_meters  611901 non-null  float64
 3   confidence      611901 non-null  float64
 4   full_plus_code  611901 non-null  object
 5   dem_name        611901 non-null  object
dtypes: float64(4), object(2)
memory usage: 32.7+ MB
None
n15e025_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 611901 entries, 2 to 578405
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        611901 non-null  float64
 1   longitude       611901 non-null  float64
 2   area_in_meters  611901 non-null  float64
 3   confidence      611901 non-null  float64
 4   full_plus_code  611901 non-null  object
 5   dem_name        611901 non-null  object
dtypes: float64(4), object(2)
memory usage: 32.7+ MB
None
/home/data_folder/points_s2_level_4_gzip/15d_buildings.csv.gz

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 630096 entries, 0 to 627474
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        630096 non-null  float64
 1   longitude       630096 non-null  float64
 2   area_in_meters  630096 non-null  float64
 3   confidence      630096 non-null  float64
 4   full_plus_code  630096 non-null  object
 5   geometry        630096 non-null  geometry
 6   index_right     630096 non-null  int64
 7   sno             630096 non-null  int64
 8   dem_name        630096 non-null  object
dtypes: float64(4), geometry(1), int64(2), object(2)
memory usage: 48.1+ MB
None
     latitude  longitude  area_in_meters  confidence full_plus_code  \
0   22.153336  36.665185         14.1771      0.6847  7GJR5M38+83MH
1   18.842335  36.848187         13.6042      0.7129  7GCRRRRX+W7MH
8   20.190357  34.845844         28.9092      0.8290  7GGP5RRW+48X6
61  19.393034  34.699672         15.2884      0.6914  7GFP9MVX+6V78

       dem_name
0   n20e035_dem
1   n15e035_dem
8   n20e030_dem
61  n15e030_dem
###########
n20e035_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 630096 entries, 0 to 627474
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        630096 non-null  float64
 1   longitude       630096 non-null  float64
 2   area_in_meters  630096 non-null  float64
 3   confidence      630096 non-null  float64
 4   full_plus_code  630096 non-null  object
 5   dem_name        630096 non-null  object
dtypes: float64(4), object(2)
memory usage: 33.7+ MB
None
n15e035_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 630096 entries, 0 to 627474
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        630096 non-null  float64
 1   longitude       630096 non-null  float64
 2   area_in_meters  630096 non-null  float64
 3   confidence      630096 non-null  float64
 4   full_plus_code  630096 non-null  object
 5   dem_name        630096 non-null  object
dtypes: float64(4), object(2)
memory usage: 33.7+ MB
None
n20e030_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 630096 entries, 0 to 627474
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        630096 non-null  float64
 1   longitude       630096 non-null  float64
 2   area_in_meters  630096 non-null  float64
 3   confidence      630096 non-null  float64
 4   full_plus_code  630096 non-null  object
 5   dem_name        630096 non-null  object
dtypes: float64(4), object(2)
memory usage: 33.7+ MB
None
n15e030_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 630096 entries, 0 to 627474
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        630096 non-null  float64
 1   longitude       630096 non-null  float64
 2   area_in_meters  630096 non-null  float64
 3   confidence      630096 non-null  float64
 4   full_plus_code  630096 non-null  object
 5   dem_name        630096 non-null  object
dtypes: float64(4), object(2)
memory usage: 33.7+ MB
None
/home/data_folder/points_s2_level_4_gzip/161_buildings.csv.gz
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 68805 entries, 0 to 71268
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        68805 non-null  float64
 1   longitude       68805 non-null  float64
 2   area_in_meters  68805 non-null  float64
 3   confidence      68805 non-null  float64
 4   full_plus_code  68805 non-null  object
 5   geometry        68805 non-null  geometry
 6   index_right     68805 non-null  int64
 7   sno             68805 non-null  int64
 8   dem_name        68805 non-null  object
dtypes: float64(4), geometry(1), int64(2), object(2)
memory usage: 5.2+ MB
None
      latitude  longitude  area_in_meters  confidence full_plus_code  \
0    12.903431  42.723046         32.4590      0.8103  7H44WP3F+96F7
28   14.254481  39.989053         17.9376      0.7020  7G6X7X3Q+QJV8
839  15.761583  39.988946         17.9290      0.7244  7G7XQX6Q+JHP7

        dem_name
0    n10e040_dem
28   n10e035_dem
839  n15e035_dem
###########
n10e040_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 68805 entries, 0 to 71268
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        68805 non-null  float64
 1   longitude       68805 non-null  float64
 2   area_in_meters  68805 non-null  float64
 3   confidence      68805 non-null  float64
 4   full_plus_code  68805 non-null  object
 5   dem_name        68805 non-null  object
dtypes: float64(4), object(2)
memory usage: 3.7+ MB
None
n10e035_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 68805 entries, 0 to 71268
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        68805 non-null  float64
 1   longitude       68805 non-null  float64
 2   area_in_meters  68805 non-null  float64
 3   confidence      68805 non-null  float64
 4   full_plus_code  68805 non-null  object
 5   dem_name        68805 non-null  object
dtypes: float64(4), object(2)
memory usage: 3.7+ MB
None
n15e035_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 68805 entries, 0 to 71268
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        68805 non-null  float64
 1   longitude       68805 non-null  float64
 2   area_in_meters  68805 non-null  float64
 3   confidence      68805 non-null  float64
 4   full_plus_code  68805 non-null  object
 5   dem_name        68805 non-null  object
dtypes: float64(4), object(2)
memory usage: 3.7+ MB
None
/home/data_folder/points_s2_level_4_gzip/163_buildings.csv.gz
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3761512 entries, 0 to 3579583
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   latitude        float64
 1   longitude       float64
 2   area_in_meters  float64
 3   confidence      float64
 4   full_plus_code  object
 5   geometry        geometry
 6   index_right     int64
 7   sno             int64
 8   dem_name        object
dtypes: float64(4), geometry(1), int64(2), object(2)
memory usage: 287.0+ MB
None
        latitude  longitude  area_in_meters  confidence full_plus_code  \
0      11.530044  43.162798         10.0376      0.7165  7H35G5J7+247P
1       8.712293  40.413113         39.7151      0.7968  6HW2PC67+W69P
380    10.300310  39.989391         14.5389      0.6995  7G2X8X2Q+4QCG
925     8.451847  39.998965         51.5076      0.7712  6GWXFX2X+PHPX
21855  10.413762  44.999713         13.8979      0.7513  7H26CX7X+GV4H
50055   8.964398  44.999723          9.4717      0.6102  6HW6XX7X+QV5R

          dem_name
0      n10e040_dem
1      n05e040_dem
380    n10e035_dem
925    n05e035_dem
21855  n10e045_dem
50055  n05e045_dem
###########
n10e040_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3761512 entries, 0 to 3579583
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   latitude        float64
 1   longitude       float64
 2   area_in_meters  float64
 3   confidence      float64
 4   full_plus_code  object
 5   dem_name        object
dtypes: float64(4), object(2)
memory usage: 200.9+ MB
None
n05e040_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3761512 entries, 0 to 3579583
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   latitude        float64
 1   longitude       float64
 2   area_in_meters  float64
 3   confidence      float64
 4   full_plus_code  object
 5   dem_name        object
dtypes: float64(4), object(2)
memory usage: 200.9+ MB
None

n10e035_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3761512 entries, 0 to 3579583
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   latitude        float64
 1   longitude       float64
 2   area_in_meters  float64
 3   confidence      float64
 4   full_plus_code  object
 5   dem_name        object
dtypes: float64(4), object(2)
memory usage: 200.9+ MB
None
n05e035_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3761512 entries, 0 to 3579583
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   latitude        float64
 1   longitude       float64
 2   area_in_meters  float64
 3   confidence      float64
 4   full_plus_code  object
 5   dem_name        object
dtypes: float64(4), object(2)
memory usage: 200.9+ MB
None
n10e045_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3761512 entries, 0 to 3579583
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   latitude        float64
 1   longitude       float64
 2   area_in_meters  float64
 3   confidence      float64
 4   full_plus_code  object
 5   dem_name        object
dtypes: float64(4), object(2)
memory usage: 200.9+ MB
None
n05e045_dem
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3761512 entries, 0 to 3579583
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   latitude        float64
 1   longitude       float64
 2   area_in_meters  float64
 3   confidence      float64
 4   full_plus_code  object
 5   dem_name        object
dtypes: float64(4), object(2)
memory usage: 200.9+ MB
None
/home/data_folder/points_s2_level_4_gzip/165_buildings.csv.gz

In [23]:
if db.empty:
    print('hi')
else:
    print('hello')

hi

In [3]:
## keranl getting killed if th following file is read in pandas, so using dask

#import pandas as pd
#db=pd.read_csv('/home/data_folder/points_s2_level_4_gzip/165_buildings.csv.gz')

import dask.dataframe as dd
df = dd.read_csv('/home/data_folder/points_s2_level_4_gzip/165_buildings.csv.gz', compression='gzip')

/root/miniconda3/envs/climada_env/lib/python3.8/site-packages/dask/dataframe/io/csv.py:531: UserWarning: Warning gzip compression does not support breaking apart files
Please ensure that each individual file can fit in memory and
use the keyword ``blocksize=None to remove this message``
Setting ``blocksize=None``
  warn(

In [10]:
db = dgdf.sjoin(grid_db, how="inner")
db1 = db.compute()
#db.drop(columns=['geometry', 'index_right','sno'])
#db.fillna('out_of_ea')
#dem_db=db.drop_duplicates('dem_name')
#dem_name_list=dem_db['dem_name'].tolist()
#dem_db
db1

,latitude,longitude,area_in_meters,confidence,full_plus_code,geometry,index_right,sno,dem_name
0,5.826111,20.728984,10.8597,0.6836,6GQ2RPGH+CHXF,POINT (20.72898 5.82611),5,7,n05e020_dem
1,5.981590,21.254595,22.5085,0.7586,6GQ3X7J3+JRQJ,POINT (21.25459 5.98159),5,7,n05e020_dem
2,6.029738,20.793992,331.9449,0.8251,6GR22QHV+VHXG,POINT (20.79399 6.02974),5,7,n05e020_dem
4,8.436696,20.637175,24.3509,0.7856,6GW2CJPP+MVFW,POINT (20.63718 8.43670),5,7,n05e020_dem
8,8.412125,20.647561,44.8085,0.7229,6GW2CJ6X+V235,POINT (20.64756 8.41213),5,7,n05e020_dem
...,...,...,...,...,...,...,...,...,...
641165,5.850854,20.514157,54.5573,0.8347,6GQ2VG27+8MV2,POINT (20.51416 5.85085),5,7,n05e020_dem
641166,5.032283,21.220177,18.2322,0.7968,6GQ326JC+W378,POINT (21.22018 5.03228),5,7,n05e020_dem
641169,6.246464,21.199276,20.2457,0.7347,6GR365WX+HPJH,POINT (21.19928 6.24646),5,7,n05e020_dem
641170,5.784635,20.678093,13.6965,0.6839,6GQ2QMMH+V649,POINT (20.67809 5.78463),5,7,n05e020_dem
641174,6.537495,21.981599,43.8757,0.7582,6GR3GXPJ+XJXJ,POINT (21.98160 6.53749),5,7,n05e020_dem

In [13]:
db = gbdb.sjoin(grid_db, how="left")
dba=db.dropna()
dba

,latitude,longitude,area_in_meters,confidence,full_plus_code,geometry,index_right,sno,dem_name
0,5.826111,20.728984,10.8597,0.6836,6GQ2RPGH+CHXF,POINT (20.72898 5.82611),5.0,7.0,n05e020_dem
1,5.981590,21.254595,22.5085,0.7586,6GQ3X7J3+JRQJ,POINT (21.25459 5.98159),5.0,7.0,n05e020_dem
2,6.029738,20.793992,331.9449,0.8251,6GR22QHV+VHXG,POINT (20.79399 6.02974),5.0,7.0,n05e020_dem
4,8.436696,20.637175,24.3509,0.7856,6GW2CJPP+MVFW,POINT (20.63718 8.43670),5.0,7.0,n05e020_dem
8,8.412125,20.647561,44.8085,0.7229,6GW2CJ6X+V235,POINT (20.64756 8.41213),5.0,7.0,n05e020_dem
...,...,...,...,...,...,...,...,...,...
641165,5.850854,20.514157,54.5573,0.8347,6GQ2VG27+8MV2,POINT (20.51416 5.85085),5.0,7.0,n05e020_dem
641166,5.032283,21.220177,18.2322,0.7968,6GQ326JC+W378,POINT (21.22018 5.03228),5.0,7.0,n05e020_dem
641169,6.246464,21.199276,20.2457,0.7347,6GR365WX+HPJH,POINT (21.19928 6.24646),5.0,7.0,n05e020_dem
641170,5.784635,20.678093,13.6965,0.6839,6GQ2QMMH+V649,POINT (20.67809 5.78463),5.0,7.0,n05e020_dem
641174,6.537495,21.981599,43.8757,0.7582,6GR3GXPJ+XJXJ,POINT (21.98160 6.53749),5.0,7.0,n05e020_dem

In [18]:
dem_name_list=['n05e020_dem','out_of_ea', 'n10e020_dem']

[i for i in dem_name_list if not i in 'out_of_ea']

['n05e020_dem', 'n10e020_dem']

In [9]:
dem_db=db.drop_duplicates('dem_name')
dem_db.fillna('out_of_ea', inplace=True)
dem_db

/tmp/ipykernel_2517/3368655684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dem_db.fillna('out_of_ea', inplace=True)

   latitude  longitude  area_in_meters  confidence full_plus_code     dem_name
0  5.826111  20.728984         10.8597      0.6836  6GQ2RPGH+CHXF  n05e020_dem
3  7.171450  17.298062         11.4237      0.6847  6FVV57CX+H6FX    out_of_ea

In [4]:


for idx, row in grd_db.iterrows():
    min_long,min_lat,max_long,max_lat=row['geometry'].bounds
    for gzfl in gzfiles:
        bdb=pd.read_csv(gzfl)
        bdb1=bdb.loc[(bdb['latitude'] >=min_lat ) & (bdb['latitude'] <= max_lat)]
# bdb.loc[(bdb['longitude'] >=min_lon ) & (bdb['longitude'] <= max_lon)]

        latitude  longitude  area_in_meters  confidence full_plus_code
0       2.594276  45.374220         12.9729      0.7560  6HJ7H9VF+PM92
1       2.016380  45.264297         56.9999      0.7819  6HJ72787+HP37
2       2.104140  45.364583         25.8912      0.6304  6HJ74937+MR4G
3       2.048299  45.364611         73.5123      0.6091  6HJ729X7+8R9W
4       2.023368  45.311238         49.2868      0.6763  6HJ728F6+8FXP
...          ...        ...             ...         ...            ...
928093  2.009822  45.272287          3.5485      0.6901  6HJ7275C+WWFR
928094  2.140334  45.117049        129.7858      0.6494  6HJ744R8+4RM8
928095  2.727209  46.050974         17.8907      0.6802  6HJ8P3G2+V9Q6
928096  2.102565  45.208381        223.8580      0.8493  6HJ74635+29CC
928097  2.048168  45.284429          3.6773      0.7381  6HJ727XM+7Q7P

[928098 rows x 5 columns]

## make all 1km grid into single shape file

In [2]:
import geopandas as gp

grid_db=gp.read_file('/home/data_folder/osm_data/ea_5x5_grid.shp')


db_cont=[]
for idx,row in grid_db.iterrows():
    grid_name=row['dem_name']
    db=gp.read_file(f'/home/data_folder/osm_data/5x5_1km_grids_ea/{grid_name}.shp')
    db_cont.append(db)

In [3]:
import pandas as pd

db=pd.concat(db_cont)
db.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 9000000 entries, 0 to 249999
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   gn        int64
 1   Maille    int64
 2   Maille_Y  int64
 3   Maille_X  int64
 4   geometry  geometry
dtypes: geometry(1), int64(4)
memory usage: 412.0 MB

In [ ]:
db1=gp.GeoDataFrame(db)
db1.to_file('/home/data_folder/osm_data/ea_5x5_1km_grids.shp',index=False)

In [11]:
min_long,min_lat,max_long,max_lat=grid_db['geometry'][0].bounds

# bdb.loc[(bdb['latitude'] >=min_lat ) & (bdb['latitude'] <= max_lat)]
# bdb.loc[(bdb['longitude'] >=min_lon ) & (bdb['longitude'] <= max_lon)]

In [12]:
min_long,min_lat,max_long,max_lat

(24.999583333333334,
 -0.0004166666666662877,
 29.999583333333334,
 4.999583333333334)