In [9]:
import pandas as pd
import glob

import numpy as np

csvxls_files=glob.glob('/home/build_fp/km_intersection/*.csv.gz')

db=pd.read_csv(csvxls_files[0])
#db1=db.group_by(['gn'])['bp_circle_id'].size()

#grpd = df.groupby(['A','B']).size()
#db1
db1 = db.groupby(['gn']).size().reset_index()
db1.columns=['gn','bd']
db1['bd'].max()



#lst = range(50)
csv_list=np.array_split(csvxls_files, 10)
len(csv_list[0])

28

In [2]:
edf=pd.read_csv('/home/ea_1km_grid_index_ea_country_boundary.csv')

,GID_0,COUNTRY,gno,Nomotorway,primary,secondary,tertiary,unclassified,lon,lat,grid_name,uidx
0,KEN,Kenya,237524,NaN,NaN,NaN,NaN,NaN,34.754583,4.764583,n00e030_dem,237524-n00e030_dem
1,KEN,Kenya,236524,NaN,NaN,NaN,NaN,NaN,34.734583,4.764583,n00e030_dem,236524-n00e030_dem
2,KEN,Kenya,236023,NaN,NaN,NaN,NaN,NaN,34.724583,4.774583,n00e030_dem,236023-n00e030_dem
3,KEN,Kenya,236523,NaN,NaN,NaN,NaN,NaN,34.734583,4.774583,n00e030_dem,236523-n00e030_dem
4,KEN,Kenya,237023,NaN,NaN,NaN,NaN,NaN,34.744583,4.774583,n00e030_dem,237023-n00e030_dem
...,...,...,...,...,...,...,...,...,...,...,...,...
5148866,TZA,Tanzania,174641,NaN,NaN,NaN,NaN,NaN,38.494583,-11.405417,s15e035_dem,174641-s15e035_dem
5148867,TZA,Tanzania,172641,NaN,NaN,NaN,NaN,NaN,38.454583,-11.405417,s15e035_dem,172641-s15e035_dem
5148868,TZA,Tanzania,173141,NaN,NaN,NaN,NaN,NaN,38.464583,-11.405417,s15e035_dem,173141-s15e035_dem
5148869,TZA,Tanzania,174141,NaN,NaN,NaN,NaN,NaN,38.484583,-11.405417,s15e035_dem,174141-s15e035_dem
5148870,TZA,Tanzania,172141,NaN,NaN,NaN,NaN,NaN,38.444583,-11.405417,s15e035_dem,172141-s15e035_dem

In [3]:
edf1=edf[['uidx','GID_0','lon','lat']]
edf1

                       uidx GID_0        lon        lat
0        237524-n00e030_dem   KEN  34.754583   4.764583
1        236524-n00e030_dem   KEN  34.734583   4.764583
2        236023-n00e030_dem   KEN  34.724583   4.774583
3        236523-n00e030_dem   KEN  34.734583   4.774583
4        237023-n00e030_dem   KEN  34.744583   4.774583
...                     ...   ...        ...        ...
5148866  174641-s15e035_dem   TZA  38.494583 -11.405417
5148867  172641-s15e035_dem   TZA  38.454583 -11.405417
5148868  173141-s15e035_dem   TZA  38.464583 -11.405417
5148869  174141-s15e035_dem   TZA  38.484583 -11.405417
5148870  172141-s15e035_dem   TZA  38.444583 -11.405417

[5148871 rows x 4 columns]

In [10]:
import ntpath


for idx,csvxls_files in enumerate(csv_list):
    db1_cont=[]
    for csvfl in csvxls_files:
        flname=ntpath.basename(csvfl)
        if 'part' in flname:
            #print(flname)
            flname_bits=flname.split('_')[1:3]
            grid_name='_'.join(flname_bits)
            #print(grid_name)
        else:
            flname_bits=flname.split('_')[0:2]
            grid_name='_'.join(flname_bits)
            #print(grid_name)
        db=pd.read_csv(csvfl)
        db1 = db.groupby(['gn']).size().reset_index()
        db1.columns=['gn','bd']
        #db1['grid_name']=grid_name
        db1['uidx']=db1["gn"].astype(str) + '-'+ grid_name
        db2=pd.merge(db1,edf1,on='uidx')
        db1_cont.append(db2)
        del [db1,db2,db]
    db=pd.concat(db1_cont)
    db.to_csv(f'/home/build_fp/km_intersection_part_{idx}.csv.gz',compression='gzip',index=False)
    del [db]

In [3]:
edf=pd.concat(db1_cont)

In [4]:
edf['uidx']=edf["gn"].astype(str) + '-' +edf["grid_name"]

In [5]:
db=pd.read_csv('/home/ea_1km_grid_index_ea_country_boundary.csv')

In [6]:
edf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60250000 entries, 0 to 249999
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   gn         int64
 1   bd         int64
 2   grid_name  object
 3   uidx       object
dtypes: int64(2), object(2)
memory usage: 2.2+ GB

In [7]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5148871 entries, 0 to 5148870
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   GID_0         object
 1   COUNTRY       object
 2   gno           int64
 3   Nomotorway    float64
 4   primary       float64
 5   secondary     float64
 6   tertiary      float64
 7   unclassified  float64
 8   lon           float64
 9   lat           float64
 10  grid_name     object
 11  uidx          object
dtypes: float64(7), int64(1), object(4)
memory usage: 471.4+ MB

In [11]:
import glob


csvfls = glob.glob('/home/build_fp/*.csv.gz')


for csvfl in csvfls[0:1]:
    db=pd.read_csv(csvfl)
    db1=db[['GID_0','bd','lan','lat']]

In [13]:
db

             gn   bd                uidx GID_0        lon       lat
0             1  101       1-s10e030_dem   TZA  30.004583 -5.005417
1             2    1       2-s10e030_dem   TZA  30.004583 -5.015417
2             3    1       3-s10e030_dem   TZA  30.004583 -5.025417
3             4    1       4-s10e030_dem   TZA  30.004583 -5.035417
4             5    1       5-s10e030_dem   TZA  30.004583 -5.045417
...         ...  ...                 ...   ...        ...       ...
5239548  249996    1  249996-s05e030_dem   TZA  34.994583 -4.955417
5239549  249997    1  249997-s05e030_dem   TZA  34.994583 -4.965417
5239550  249998    1  249998-s05e030_dem   TZA  34.994583 -4.975417
5239551  249999    1  249999-s05e030_dem   TZA  34.994583 -4.985417
5239552  250000    1  250000-s05e030_dem   TZA  34.994583 -4.995417

[5239553 rows x 6 columns]