## Make csv of all the 5x5 km grids

In [5]:
import geopandas as gp
import pandas as pd


grid_db=gp.read_file('/home/data_folder/osm_data/ea_5x5_grid.shp')


db_cont=[]
for idx,row in grid_db.iterrows():
    grid_name=row['dem_name']
    db=pd.read_csv(f'/home/data_folder/osm_data/road_gno_cat_raw/road_class_{grid_name}.csv')
    db['grid_name']=grid_name
    db_cont.append(db)

In [6]:
db1=pd.concat(db_cont)
db1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9000000 entries, 0 to 249999
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   gno           int64
 1   Nomotorway    float64
 2   primary       float64
 3   secondary     float64
 4   tertiary      float64
 5   unclassified  float64
 6   lon           float64
 7   lat           float64
 8   grid_name     object
dtypes: float64(7), int64(1), object(1)
memory usage: 686.6+ MB

In [16]:
db1.describe()

,gno,Nomotorway,primary,secondary,tertiary,unclassified,lon,lat
count,9.000000e+06,600726.000000,72552.000000,82384.000000,355046.000000,658019.000000,9.000000e+06,9.000000e+06
mean,1.250005e+05,0.547967,0.817683,0.831702,0.561641,0.698211,3.555514e+01,6.110694e+00
std,7.216879e+04,0.386547,0.427986,0.443991,0.420450,0.397711,8.146043e+00,1.007687e+01
min,1.000000e+00,0.000004,0.000006,0.000003,0.000004,0.000008,2.000458e+01,-1.499542e+01
25%,6.250075e+04,0.229793,0.421525,0.439481,0.217997,0.376689,2.928458e+01,-1.247917e+00
50%,1.250005e+05,0.448183,0.932022,0.914827,0.418164,0.644527,3.499958e+01,7.144583e+00
75%,1.875002e+05,0.806674,1.148921,1.168093,0.900827,1.079169,4.099708e+01,1.357458e+01
max,2.500000e+05,4.392725,3.697846,5.229718,5.300419,5.610879,5.499458e+01,2.499458e+01

In [ ]:
db1.sum()

## using climada visualization

In [ ]:
from climada.entity import Exposures

import numpy as np

from matplotlib import colors
from matplotlib import pyplot as plt
import os
import pandas as pd

import cartoy.crs as ccrs

from cartopy.io.shapereader import Reader
from cartopy.featire import ShapelyFeature

In [13]:
'_'.join('part0_n10e035_dem_165_buildings.csv.gz'.split('_')[1:3])

'n10e035_dem'

In [ ]:
3000/20

In [2]:
import pandas as pd

db=pd.read_csv('/home/data_folder/points_s2_level_4_gzip/km_intersection/part0_n00e025_dem_175_buildings.csv.gz')
db1=db[db['bp_circle_idx'].notnull()]
db1

            gn          x         y  bp_circle_idx
69          70  25.004583  4.304583         8608.0
70          71  25.004583  4.294583       663386.0
71          71  25.004583  4.294583       680692.0
72          71  25.004583  4.294583       323709.0
73          71  25.004583  4.294583       701622.0
...        ...        ...       ...            ...
955663  183939  28.674583  0.614583        73562.0
955664  183939  28.674583  0.614583       624439.0
955665  183939  28.674583  0.614583       367720.0
955666  183939  28.674583  0.614583       311618.0
955667  183939  28.674583  0.614583       387288.0

[799857 rows x 4 columns]